@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
.App {
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
  box-sizing: border-box;
  font-size: 14px;
}

header {
  /* font-size: 2em; */
  background-color: black;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0.5em 0;
  margin-bottom: 3em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

header p {
  margin-bottom: 0;
}

/* h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #111;
} */
.header--links {
  justify-content: flex-end;
  padding-right: 30px;
}
.product {
  background-color: #f3f3f3b1;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 1em;
  height: 100%;
}
.product img {
  width: 100%;
  margin-bottom: 1.25em;
  border-radius: 3px;
}

.addToCart {
  width: 100%;
  /* background-color: orange; */
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}
.addToCart:hover {
  background-color: black;
  color: white;
}

.lineItem {
  background-color: #f3f3f3b1;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 1em;
}
.property {
  margin-bottom: 0.5em;
}

.searchbar .form-check-input {
  position: static;
  margin-left: 0;
  margin-right: 0.5em;
}
.miniCart {
  /* font-size: 12px;
  position: absolute;
  background-color: lightgray;
  top: 49px;
  z-index: 100;
  border-radius: 0 0 6px 6px;
  color: black; */
}
.minicart__items {
  font-size: 12px;
}

.miniCart__price {
  padding: 0px 14px;
}

/* .product--container {
  height: calc(100% - 80px);
} */

.productRow > * {
  margin-bottom: 2em;
}

.oneCheckout--sidebar {
  background-color: #eee;
  padding: 0.5em;
  border-radius: 3px;
}

/* .container-fluid {
  padding-right: 7.5%;
  padding-left: 7.5%;
} */
.header--links a {
  margin-right: 1.5em;
  text-transform: uppercase;
  color: white;
}
.header--row > div {
  display: flex;
  align-items: center;
}

.miniCart .dropdown-menu.show {
  display: block;
  width: 320px;
  left: auto;
}
.container-fluid {
  max-width: 1720px;
}

.choose__content {
  padding: 1em 2em;
  background-color: #f3f3f3;
  border-radius: 6px;
}